<div class="container">
    <section id="about" class="py-5">
        <div class="container-fluid">

            <header>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
                    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                    crossorigin="anonymous">
            </header>
            <div class="row">
                <h1 class="text-bg-light text-center display-1 fw-bold"
                    style="background-image: linear-gradient(to right, #ff00ff, #00ffff); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                    ACCESSIBILITY FIXER</h1>
            </div>
            <div class="row">
                <hr class="my-3">
            </div>
            <!-- Sección de Precontemplación -->
            <section id="precontemplacion" class="mb-5">
                <h2>¿Qué es la accesibilidad y cómo perjudica la falta de ella?</h2>
                <p> La accesibilidad es la práctica de diseñar software de manera que todas las personas, incluidas
                    aquellas con discapacidades, puedan usarlo de manera efectiva. La falta de accesibilidad puede
                    excluir a las personas con discapacidades de participar en actividades digitales, acceder a la
                    información y utilizar aplicaciones. A continuación, se presentan ejemplos de software inaccesible y
                    accesible:
                </p>
                <div class="row">
                    <div class="col-md-6">
                            <div class="">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Problemas de la Falta de Accesibilidad
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                La falta de accesibilidad en el software afecta gravemente a las
                                                personas con
                                                discapacidades, así como también puede en las experiencia de las personas sin discapacidad.
                                                Esto puede incluir como problemas desde no poder encontrar algunos elementos dentro de la página web, no controlar alguna funcionalidad parcial hasta no poder
                                                usar una aplicación en su totalidad. Otros problemas son el acceso a la información o participar en actividades digitales. Ejemplos
                                                comunes son botones demasiado pequeños, falta de texto alternativo para
                                                imágenes, y ausencia de subtítulos en videos.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Importancia de la Accesibilidad
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>La accesibilidad en el software es crucial para garantizar la
                                                    inclusión
                                                    digital. Implementar buenas prácticas de accesibilidad permite a
                                                    todas las
                                                    personas, independientemente de sus habilidades, acceder y usar el
                                                    software
                                                    de manera efectiva. Esto incluye diseñar interfaces intuitivas,
                                                    proporcionar
                                                    alternativas textuales y asegurarse de que el contenido sea
                                                    navegable con
                                                    teclado y lectores de pantalla.</p>
                                                <p>Testimonios y estadísticas pueden ayudar a sensibilizar a los
                                                    desarrolladores
                                                    sobre la importancia de estas prácticas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Más testimonios
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a href="https://www.w3.org/WAI/people-use-web/user-stories/es">
                                                    Testimonios en
                                                    español</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/l14AQXH5WgE?si=oKOKDjpZzTDr-BQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <img src="/images/Pag-Acc.png" alt="Ejemplo de Software Inaccesible" class="img-fluid">
                            <p>Ejemplo de página no accesible.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="/images/Pag-Acc-Si.png" alt="Ejemplo de Software Accesible" class="img-fluid">
                            <p>Ejemplo de página accesible.</p>
                        </div>
                    </div>
            </section>

            <!-- Sección de Contemplación -->
            <section id="contemplacion" class="mb-5">
                <h2>Experiencias personales</h2>
                <p>La falta de accesibilidad en el software puede tener un impacto significativo en la vida de las
                    personas con discapacidades. A continuación, se presentan algunas historias personales que ilustran
                    cómo la accesibilidad puede mejorar la vida de las personas:</p>
                <div class="d-flex mb-4">
                    <div class="justify-content-center">
                        <div id="carouselExampleCaptions" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img width="800" height="400" src="/images/Testimonio2.png" class="d-block w-100"
                                        alt="Testimonio de empleada con ceguera">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Primer testimonio</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img width="800" height="400" src="/images/Testimonio.png" class="d-block w-100"
                                        alt="Testimonio de Lee, persona con daltonismo">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Segundo testimonio</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe width="800" height="400"
                                            src="https://www.youtube.com/embed/7YEn_z4kL_s?si=nWOzAXIWRm4CSiyY"
                                            title="Testimonio 1" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Testimonios de alumnos en entornos virtuales</h5>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <h3>¿Por qué es importante la accesibilidad?</h3>
                    <p>La accesibilidad asegura que todas las personas, sin importar sus capacidades, puedan usar y
                        disfrutar del software. A continuación, algunas estadísticas importantes...</p>
                </div>
                <div class="mb-4">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/testimonio_accesibilidad"
                        title="Testimonio de Desarrollador" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="mb-4">
                    <h3>Reflexiona</h3>
                    <p>¿Cómo crees que la falta de accesibilidad afecta a las personas diariamente? ¿Qué cambios puedes
                        considerar para mejorar la accesibilidad en tu propio trabajo?</p>
                    <p>¡Por eso mismo empieza resolviendo estos breves desafíos de accesibilidad!</p>

                </div>
            </section>
            <!-- Call to action -->
            <div class="row">
                <div class="col-md-6">
                    <form method="GET" action="/challenges/">
                        <button class="btn btn-primary w-100" type="submit">Empezar los desafíos</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form method="GET" action="/challenges/info">
                        <button class="btn btn-secondary w-100" type="submit">Más información sobre
                            accesibilidad</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
{{! </script> }}
<script>
    $(document).ready(function () {
        // Función para verificar el estado de inicio de sesión
        function checkLoginStatus() {
            $.ajax({
                url: '/checkLoginStatus', // Ruta en tu servidor para verificar el estado de inicio de sesión
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response.loggedIn) {
                        // Si el usuario ha iniciado sesión, mostrar "Cerrar sesión" y ocultar "Iniciar sesión" y "Registrar usuario"
                        $('#loginLink').hide();
                        $('#loginLink2').hide();
                        $('#logoutLink').show();
                    } else {
                        // Si el usuario no ha iniciado sesión, mostrar "Iniciar sesión" y "Registrar usuario" y ocultar "Cerrar sesión"
                        $('#loginLink').show();
                        $('#loginLink2').show();
                        $('#logoutLink').hide();
                    }
                }
            });
        }
        // Verificar el estado de inicio de sesión al cargar la página
        checkLoginStatus();
    });
</script>