<div class="container">
<section id="about" class="py-5">
    <div class="container-fluid">
        
        <header class="text-center my-5">
            <img src="../public/images/logo.jpg" alt="Logo de la aplicación" class="logo">
        </header>

        <!-- Botones -->
        <div class="div">
            <div class="col-md-6 text-center">
                <form method="GET" action="/challenges/play">
                    <button class="btn btn-primary" type="submit">Jugar</button>
                </form>
            </div>
            <div class="div">
                <div class="col-md-6 text-center">
                    <form method="GET" action="/challenges/info">
                        <button class="btn btn-primary" type="submit">Información</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

{{!         </script> }}