<div class="container">
    <div class="row py-5 text-center">
        <h1>Información sobre la Accesibilidad Software</h1>
        <p>Aprende sobre la accesibilidad y buenas prácticas a la hora de desarrollar.</p>
    </div>
    <div class="row py-5">

        <div class="col-md-6 text-center">
            <h2>WCAG Guidelines</h2>
            <p>Visita el sitio web de WCAG para más información sobre las guías sobre la accesibilidad.</p>
            <a href="http://www.sidar.org/traducciones/wcag20/es/#perceivable" target="_blank"
                rel="noopener noreferrer">WCAG
                Guidelines en español</a>
            <a href="https://www.w3.org/WAI/standards-guidelines/wcag/glance/">WCAG Guidelines en inglés</a>
        </div>

        <div class="col-md-6 text-center">
            <h2>Vídeos sobre buenas prácticas</h2>
            <p>Mira estos vídeos sobre las mejores prácticas para la accesibilidad software.</p>
            <!-- Add your video embed code here -->
            <a href="#examples">Vídeos de buenas prácticas</a>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-6 text-center">
            <h2>Examples of Best Practices</h2>
            <p>Check out these examples of websites that follow accessibility best practices.</p>
            <!-- Add your examples here -->
            <a href="#videos">Videos on Best Practices</a>
            <a href="#wcag">WCAG Guidelines</a>
        </div>
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SDEKxnxQbag?si=M2oDvw6IUShfjUyn"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>