<div class="container">
    <div class="row my-3 text-center">
        <h1>Información sobre la Accesibilidad Software</h1>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3>¿Qué es la WCAG?</h3>
            </div>
            <div class="card-body">
                <p>La WCAG es una organización formada por diferentes miembros donde se elaboran los estándares de
                    Accesibilidad que una página tiene que cumplir para ser accesible.
                    Estos estándares se dividen en 4 principios básicos: Perceptible, Operable, Comprensible y Robusto.
                </p>
                <ul>
                    <li>Perceptible: Los contenidos deben ser presentados de manera que puedan ser percibidos por todos
                        los usuarios, incluyendo aquellos con discapacidades visuales o auditivas. Esto implica el uso
                        de texto alternativo para imágenes, subtítulos en videos y contraste adecuado en el diseño.</li>
                    <li>Operable: Los usuarios deben poder interactuar con los contenidos y navegar por el sitio de
                        manera fácil y sin obstáculos. Esto incluye proporcionar teclado accesible, evitar elementos que
                        parpadeen o se muevan de manera incontrolada, y ofrecer opciones de navegación claras.</li>
                    <li>Comprensible: Los contenidos deben ser comprensibles para todos los usuarios, independientemente
                        de su nivel de conocimiento o experiencia. Esto implica utilizar un lenguaje claro y sencillo,
                        proporcionar instrucciones claras y evitar el uso de jerga o tecnicismos innecesarios.</li>
                    <li>Robusto: Los contenidos deben ser compatibles con diferentes tecnologías y dispositivos,
                        asegurando que sean accesibles en diferentes navegadores y plataformas. Esto implica utilizar
                        estándares web actualizados y evitar dependencias de tecnologías obsoletas.</li>
                </ul>
                <p>A su vez cada estándar está dividido en criterios de éxito, cada uno enumerado y categorizado cómo A,
                    AA o AAA dependiendo de lo que influye en la experiencia del usuario.</p>
                <p>Para más información consultar los siguientes enlaces:</p>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <a href="http://www.sidar.org/traducciones/wcag20/es/#perceivable" target="_blank"
                            rel="noopener noreferrer">WCAG Guidelines en español</a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://www.w3.org/WAI/standards-guidelines/wcag/glance/" target="_blank"
                            rel="noopener noreferrer">WCAG Guidelines en inglés</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr class="my-4">
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3>Guía de desarrollo de la DGT</h3>
            </div>
            <div class="card-body">
                <p>La DGT es la Dirección General de Tráfico de España, que ha elaborado una guía de desarrollo de
                    software accesible para ayudar a los desarrolladores a cumplir con los estándares de accesibilidad.
                    Esta guía incluye recomendaciones y buenas prácticas para garantizar que las aplicaciones y sitios
                    web sean accesibles para todos los usuarios, incluyendo aquellos con discapacidades.</p>
                <p>Algunas de las recomendaciones incluidas en la guía de la DGT son:</p>
                <ul>
                    <li>Utilizar texto alternativo en imágenes y elementos multimedia.</li>
                    <li>Proporcionar descripciones claras y concisas de los contenidos.</li>
                    <li>Evitar el uso de elementos que parpadeen o se muevan de manera incontrolada.</li>
                    <li>Ofrecer opciones de navegación claras y fáciles de usar.</li>
                    <li>Utilizar un diseño claro y sencillo, con un contraste adecuado entre el texto y el fondo.</li>
                </ul>
                <p>Para más información consultar el siguiente enlace:</p>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <a href="https://www.dgt.es/export/sites/web-DGT/.galleries/downloads/menu-secundario/recursos-para-proveedores/guia-desarrollo/Anexo-29-Guia-de-Accesibilidad-Buenas-Practicas.pdf"
                            target="_blank" rel="noopener noreferrer">Guía de desarrollo ofrecida por la DGT.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr class="my-4">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                <h3>
                    Ejemplos de buenas prácticas
                </h3>
            </div>
            <div class="card-body">
                <p> Observa estos ejemplos de buenas prácticas de accesibilidad software que se deben incluir en las
                    páginas.</p>
                <!-- Add your examples here -->
                <div class="row justify-content-center align-items-center g-2">
                    <a href="https://torresburriel.com/weblog/buenas-practicas-experiencias-accesibles/" target="_blank"
                        rel="nooponer noreferrer">Ejemplos de como incluir la accesibilidad en tu página web.</a>
                </div>
                <div class="row justify-content-center align-items-center g-2">
                    <a href="https://www.paradigmadigital.com/dev/25-buenas-practicas-desarrollo-accesibilidad/"
                        target="_blank" rel="noopener noreferrer">25 ejemplos de buenas prácticas.</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                <h3>
                    Buenas prácticas en desarrollo de aplicaciones móviles
                </h3>
            </div>
            <div class="card-body">
                <p>Descubre cómo hacer accesibles tus aplicaciones móviles siguiendo estas recomendaciones.</p>
                <div class="row justify-content-center align-items-center g-2">
                    <a href="https://www.discapnet.es/accesibilidad/accesibilidad-en-las-aplicaciones-moviles"
                        target="_blank" rel="noopener noreferrer">Ejemplos de prácticas a seguir en apps móviles.</a>
                </div>
                <div class="row justify-content-center align-items-center g-2">
                    <a href="https://administracionelectronica.gob.es/pae_Home/dam/jcr:3746627f-da12-40af-a5f5-20c42bb8c453/Guia_accesibilidad_aplicaciones_moviles_apps_v2.pdf"
                        target="_blank" rel="noopener noreferrer">PDF de guía sobre desarrollo accesible de aplicaciones
                        móviles.</a>
                </div>
            </div>
            </div>
        </div>
        
    </div>
        <div class="text-end m-5 text-center">
            <button class="btn btn-primary btn-block w-50" onclick="window.history.back()">Volver atrás</button>
        </div>
</div>