<div class="container">
    <div class="row py-5 text-center">
        <h1>Información sobre la Accesibilidad Software</h1>
        <p>Aprende sobre la accesibilidad y buenas prácticas a la hora de desarrollar.</p>
    </div>
    <div class="row py-5">

        <div class="col-md-6 text-center">
            <h2>WCAG Guidelines</h2>
            <p>Visita el sitio web de WCAG para más información sobre las guías sobre la accesibilidad.</p>
            <div class="row justify-content-center align-items-center g-2">
                <a href="http://www.sidar.org/traducciones/wcag20/es/#perceivable" target="_blank"
                    rel="noopener noreferrer">WCAG
                    Guidelines en español</a>
            </div>
            <div class="row justify-content-center align-items-center g-2">
                <a href="https://www.w3.org/WAI/standards-guidelines/wcag/glance/" target="_blank"
                    rel="noopener noreferrer">WCAG Guidelines en inglés</a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <h2>Guía de desarrollo del gobierno de España</h2>
            <p>Aquí se incluyen las prácticas que recomienda el gobierno español.</p>
            <!-- Add your video embed code here -->
            <a href="https://www.dgt.es/export/sites/web-DGT/.galleries/downloads/menu-secundario/recursos-para-proveedores/guia-desarrollo/Anexo-29-Guia-de-Accesibilidad-Buenas-Practicas.pdf"
                target="_blank" rel="noopener noreferrer">Guía de desarrollo ofrecida por la DGT.</a>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-6 text-center">
            <h2>Ejemplos de buenas prácticas</h2>
            <p> Observa estos ejemplos de buenas prácticas de accesibilidad software que se deben incluir en las
                páginas.</p>
            <!-- Add your examples here -->
            <div class="row justify-content-center align-items-center g-2">
                <a href="https://torresburriel.com/weblog/buenas-practicas-experiencias-accesibles/" target="_blank"
                    rel="nooponer noreferrer">Ejemplos de como incluir la accesibilidad en tu página web.</a>
            </div>
            <div class="row justify-content-center align-items-center g-2">
                <a href="https://www.paradigmadigital.com/dev/25-buenas-practicas-desarrollo-accesibilidad/"
                    target="_blank" rel="noopener noreferrer">25 ejemplos de buenas prácticas.</a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h2>Buenas prácticas en desarrollo de aplicaciones móviles</h2>
            <p>Descubre cómo hacer accesibles tus aplicaciones móviles siguiendo estas recomendaciones.</p>
            <div class="row justify-content-center align-items-center g-2">
                <a href="https://www.discapnet.es/accesibilidad/accesibilidad-en-las-aplicaciones-moviles"
                    target="_blank" rel="noopener noreferrer">Ejemplos de prácticas a seguir en apps móviles.</a>
            </div>
            <div class="row justify-content-center align-items-center g-2">
                <a href="https://administracionelectronica.gob.es/pae_Home/dam/jcr:3746627f-da12-40af-a5f5-20c42bb8c453/Guia_accesibilidad_aplicaciones_moviles_apps_v2.pdf"
                    target="_blank" rel="noopener noreferrer">PDF de guía sobre desarrollo accesible de aplicaciones
                    móviles.</a>
            </div>
        </div>
    </div>
</div>