<div class="container">
    <h1>Desafío: Reorganiza la página utilizando etiquetas semánticas HTML</h1>
    <div id="pageStructure">
        <div id="header">
            <input type="text" id="headerInput" placeholder="Introduce el contenido del encabezado aquí">
        </div>
        <div id="nav">
            <input type="text" id="navInput" placeholder="Introduce el contenido de la navegación aquí">
        </div>
        <div id="main">
            <input type="text" id="mainInput" placeholder="Introduce el contenido principal aquí">
        </div>
        <div id="footer">
            <input type="text" id="footerInput" placeholder="Introduce el contenido del pie de página aquí">
        </div>
    </div>
    <button type="button" id="applyStructure" class="btn btn-primary">Aplicar estructura</button>
</div>

<script>
    var challenges = [
        '/challenges/contrastChallenge',
        '/challenges/contrastChallenge2',
        '/challenges/altChallenge',
        '/challenges/altChallenge2',
        '/challenges/structureChallenge',
        '/challenges/structureChallenge2',
    ];

    // Almacena los desafíos que el usuario ya ha jugado en el almacenamiento local
    var playedChallenges = JSON.parse(localStorage.getItem('playedChallenges')) || [];

    document.getElementById('applyStructure').addEventListener('click', function () {
        var pageStructure = document.getElementById('pageStructure');
        var headerInput = document.getElementById('headerInput');
        var navInput = document.getElementById('navInput');
        var mainInput = document.getElementById('mainInput');
        var footerInput = document.getElementById('footerInput');

        var newHeader = document.createElement('header');
        newHeader.innerHTML = headerInput.value;
        var newNav = document.createElement('nav');
        newNav.innerHTML = navInput.value;
        var newMain = document.createElement('main');
        newMain.innerHTML = mainInput.value;
        var newFooter = document.createElement('footer');
        newFooter.innerHTML = footerInput.value;

        pageStructure.innerHTML = '';
        pageStructure.appendChild(newHeader);
        pageStructure.appendChild(newNav);
        pageStructure.appendChild(newMain);
        pageStructure.appendChild(newFooter);


        setTimeout(function () {
            alert('¡Desafío completado con éxito!');
            if (!playedChallenges.includes(window.location.pathname)) {
                playedChallenges.push(window.location.pathname);
                localStorage.setItem('playedChallenges', JSON.stringify(playedChallenges));
            }

            if (playedChallenges.length < 3 && confirm('¿Quieres avanzar al siguiente desafío?')) {
                alert('Avanzando al siguiente desafío...');

                // Filtra los desafíos para excluir los que el usuario ya ha jugado
                var remainingChallenges = challenges.filter(challenge => !playedChallenges.includes(challenge));

                // Genera un número aleatorio entre 0 y el número de desafíos restantes
                var nextChallengeIndex = Math.floor(Math.random() * remainingChallenges.length);

                // Redirige al usuario al desafío seleccionado
                var nextChallenge = remainingChallenges[nextChallengeIndex];
                window.location.href = nextChallenge;
            } else {
                alert('Has jugado tres desafíos en esta partida. ¡Felicidades!');
                // Borra la lista de desafíos jugados
                playedChallenges = [];
                localStorage.removeItem('playedChallenges');
                window.location.href = "/";
            }
        }, 2000);
    });
</script>